html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    font-family: articulat-cf, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff!important;
    background-color: #1e1e24 !important;
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

.cover-container{
    max-width: 62em;
}

.code-text{
    letter-spacing: -1.5px;
    font-family: fenwick, sans-serif !important;;   
    font-weight: 700;
    font-style: italic;
}

.cure{
    font-weight: 700;
    background-color: red;
    background-image: linear-gradient(45deg, #FEAD7B, #DF6363);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.javascript{
    font-weight: 500;
    background-color: red;
    background-image: linear-gradient(45deg, #F1E507, #F29C00);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.me-4 button:hover{
    transition: 0.2s;
    color: white !important;
    background-color: #22252c !important;
    border-color: white !important;
}

footer, header{
    user-select: none;
}

footer p:hover{
    transition: 0.2s;
    opacity: 1 !important;
}

footer p a:hover{
    transition: 0.2s;
    text-decoration: underline !important;
}

*::-webkit-scrollbar {
    display: none;
}

main{
    overflow-x: hidden;
}
